body {
	text-align:center;
	background-image: url("https://wallpaperaccess.com/full/369026.jpg");
}

img {

    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
     width: 200px;
  height: 400px;
  object-fit: cover;
}
