body {
	text-align:center;
	background-image: url("https://us.123rf.com/450wm/nachai/nachai1607/nachai160700093/60742632-defocused-or-blurred-photo-of-food-court-and-wood-table-top-use-for-background-.jpg?ver=6");
	background-size: cover;
}

@keyframes yes{

	0%   {left: 0px;}
  25%  {left: 1000px;}
  50%  {left: 1000px;}
  100% {left: 0px;}
}

img {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
  	height: 200px;
 	animation-name: yes;
 	animation-duration: 5s;
 	animation-iteration-count: infinite;
  	border-radius: 10px;
}

